[2020-09-01 20:30] nidhaloff opened #1 "add model optional args"
### Description

users should have the ability to add model optional arguments in the yaml file

[2020-09-01 20:33] nidhaloff opened #2 "add more usage examples"
### Description

add more examples about how to use the package. A description of the yaml file and commands need to be provided

[2020-09-05 17:15] #2 closed

[2020-09-05 17:49] nidhaloff opened #4 "provide an api to evaluate models"
provide a way to make evaluations and store it

[2020-09-05 18:22] nidhaloff commented on #4
added on release 0.1.0

[2020-09-05 18:22] #4 closed

[2020-09-08 22:48] nidhaloff opened #6 "provide a way to do one hot encoding"
the user should be able to use one hot encoding in the yaml file

[2020-09-08 22:50] nidhaloff opened #7 "provide a way to evaluate multilabeled data"
igel should support multiclass classification. Therefore, evaluation metrics should work properly with multiclass/multilabel classification

[2020-09-10 12:10] nidhaloff commented on #6
this has been already implemented in the release 0.1.5

[2020-09-10 12:10] #6 closed

[2020-09-10 18:20] nidhaloff opened #8 "improve and extend the docs & Readme"
### Description

This should be a good first issue for new comers who want to join the project. Improve the readme and docs if you see any improvement possibility.
extend igel's docs by providing a full description about the key value pairs that can be set in the yaml file.

example:

- scaling values: user can use normalization or standardization. Both methods should be explained clearly.

Furthe

[2020-09-10 18:44] nidhaloff opened #9 "added tests"
### Description
added some tests to test the functionality of igel

[2020-09-13 17:35] nidhaloff commented on #1
added in release 1.0.7

[2020-09-13 17:35] #1 closed

[2020-09-13 18:15] nidhaloff opened #11 "provide a way to use multioutput models"
### Description

At the moment, igel does not support multioutput targets. This should be implemented in the future

[2020-09-18 20:06] nidhaloff commented on #11
implemented in version 0.1.9

[2020-09-18 20:06] #11 closed

[2020-09-18 20:07] nidhaloff commented on #7
implemented in version 0.1.9

[2020-09-18 20:07] #7 closed

[2020-09-19 10:56] dinhanhx commented on #9
What I can do for you?

[2020-09-19 11:38] nidhaloff commented on #9
@dinhanhx Thanks for joining. As I stated in the title, I let this open as a good first issue for new comers to start write some unit tests (or any kind of test actually). I started the project recently so it still under heavy development. I was mainly busy implementing features in my little free time.

This issue is about writing some basic tests. So, you can start writing some basic tests under

[2020-09-19 12:09] dinhanhx commented on #9
Okay I understand what you say, do you have class diagram for this project?

[2020-09-19 12:27] nidhaloff commented on #9
@dinhanhx Unfortunately no for now.

[2020-09-19 12:30] nidhaloff opened #12 "provide a way to use deep neural networks"
### Description

Igel is built on top of sklearn at the moment. Therefore, All sklearn models can be used. This includes of course the neural network models integrated in sklearn (MLP classifier and MLP regressor). However, sklearn is not powerful enough when it comes to deep neural networks.
Therefore, this issue aims to include support for using deep neural networks in igel. Maybe Keras API?

##

[2020-09-19 12:37] nidhaloff opened #13 "provide a way to use hyperparameter-tuning"
### Description

It would be great to provide a way to use hyperparameter-tuning in igel. The user should be able to write that he wants to use hyperparameter-tuning in the yaml file and this will be automatically triggered by igel before fitting a model.

This can be achieved using grid search or maybe random search. Sklearn already have APIs for this. It just needs to be implemented.

[2020-09-19 13:24] dinhanhx commented on #12
I agree with you with using [Keras](https://keras.io/)

Quote from [Why Keras](https://keras.io/why_keras/):

This means that implementing deep neural networks for Igel should be easy for Keras users.

[2020-09-19 13:49] nidhaloff commented on #12
@dinhanhx The point is not to make using DNN easy for keras users, but instead for everyone. As stated, the goal of this project is to provide machine learning for both technical and non technical users. The user will not interact directly with keras (or whatever framework will be used). I will give you an example, this is a minimal example of what is implemented now:

[code]
As you can see. The u

[2020-09-19 13:56] dinhanhx commented on #12
I got your idea and motivation of this project. I mentioned "Keras User", I meant that this issue can be resolved by someone familiar with Keras

[2020-09-19 14:03] nidhaloff commented on #12
@dinhanhx yes you are right. I was just clarifying for new comers who will read this but I got you ;)

[2020-09-19 23:36] nidhaloff opened #14 "provide a way to use clustering"
### Description

Users should have the ability to use clustering models such as k-means https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html#sklearn.cluster.KMeans

[2020-09-19 23:46] nidhaloff opened #15 "add support for other ensemble models"
### Description

Ensemble models like adaboost and gradient boosting should be supported.
https://scikit-learn.org/stable/modules/classes.html?highlight=neural%20network#module-sklearn.neural_network

[2020-09-21 07:38] nidhaloff opened #16 "provide a way to init a .yaml file"
### Description

An initialized yaml file should be created automatically for the user. The user should not waste time creating a yaml file and copy pasting commands from igel's docs.

A better way would be to provide some command (e.g `igel init` or `igel start`) that will create a yaml file in the current working directory, where default commands are written.

[2020-09-21 07:41] nidhaloff opened #17 "provide a basic GUI for users who prefer to uses GUI"
### Description

Users should have the flexibility of using a simple GUI if they don't want to use the CLI. A simple GUI can be made with Tkinter maybe?
It's important to not add any dependency for this. It would be better to implement this using an existing python module.

[2020-09-22 19:25] nidhaloff commented on #15
done in v0.2.1

[2020-09-22 19:25] #15 closed

[2020-09-22 22:35] nidhaloff commented on #16
implemented in v0.2.2

Usage: `igel init [<args>]`

[2020-09-22 22:35] #16 closed

[2020-09-23 12:20] dinhanhx commented on #17
I suggest that we (everyone who read this issue) add a command to trigger GUI, some things like `igel -g` or `igel -gui`.

[2020-09-23 13:23] nidhaloff commented on #17
well said. I like the idea of `igel gui`. If you like this feature and find it exciting, you can work on it ;)

[2020-09-24 12:03] dinhanhx commented on #17
The GUI should be able to export and import .yaml file. Moreover, it should make model

[2020-09-24 15:05] nidhaloff commented on #17
@dinhanhx I don't mind that ;) However, I was thinking that a yaml file will not be needed in the gui funtionality. Instead, the user can upload the data as csv (or maybe enter the path to the data), select the model he wants to use (from a select button with multiple items) and then click ok. This were my thoughts but It's flexible ;)

[2020-09-24 15:07] dinhanhx commented on #17
Your idea is more user-friendly than mine

[2020-09-26 10:20] #14 closed

[2020-09-27 12:17] nidhaloff commented on #17
@dinhanhx please tell me If you are working or want to work on this in order to clarify the state of this feature ;)

[2020-09-27 12:46] dinhanhx commented on #17
@nidhaloff I want to work on this feature but I am quite busy with university work at the moment

[2020-09-28 08:39] dinhanhx opened #19 "Reformat igel -h output"
As the title, I think `igel -h` should print less than 80 characters per line. As a result, the users can read more easily.

![image](https://user-images.githubusercontent.com/38489776/94409688-ba7bc200-01a0-11eb-93fc-eb9d157f722d.png)
 I have to use the terminal at maximized state to read the page.

[2020-09-28 09:01] dinhanhx commented on #19
I am working on this.. because it's easy to do first

[2020-09-28 10:08] nidhaloff commented on #19
@dinhanhx Alright ;)

[2020-09-28 10:19] dinhanhx commented on #19
@nidhaloff may I use [colorama](https://github.com/tartley/colorama) to support colored text?

[2020-09-28 11:03] nidhaloff commented on #19
@dinhanhx If you think that it will bring a huge impact or great improvements (readablity etc..) then you may use it. However, I generally prefer not to add dependencies that are unecessary. Like if I'm going to use only one small function from the package then I will rather write it myself.

So, it's up to what you want to improve and how good will it be if you used the package vs if you don't. Y

[2020-09-28 12:08] nidhaloff commented on #19
@dinhanhx did you get what I mean or did it confused you? sorry if it wasn't clear! what I meant is, I see a lot of developers (including myself in the past) using some library, where they only need one little function from. So they download Idk how many megabytes in order to use a simple function. That's redundant. Hence, what I want to say is, if you think that using colorama will bring good imp

[2020-09-28 12:12] dinhanhx commented on #19
@nidhaloff  I got what you meant. I just used "look emoji" to express that I have looked and will think about this. I am surely going to use colorama to color text in all platforms.

[2020-09-28 20:08] nidhaloff opened #21 "add cross validation support"
### Description

Users should be able to use cross validation

[2020-09-28 20:09] nidhaloff commented on #21
implemented in v0.2.4

[2020-09-28 20:09] #21 closed

[2020-09-29 21:28] peter-shoes commented on #17
I could write something up for this using a basic tkinter UI, but there seem to be quite a few available options under read_data_options. Perhaps something like a button that allows you to add another data option from a dropdown?

[2020-09-29 21:46] nidhaloff commented on #17
@peter-shoes Thanks for joining the project. Yes a drop-down menu was also what I thought about. I think that would be great, otherwise you can be creative as you want ;)

[2020-09-29 21:50] nidhaloff opened #22 "provide available configurations (what the user can write in the yaml file) in the docs"
### Description

This issue is about providing the configurations in the docs that the user can use in the yaml file. This includes a description of what each key/value pairs can do. At the moment I just wrote these in the Readme file but it would be great to have an overview about it in the docs. I think this would be a great issue for new comers

[2020-09-29 23:03] peter-shoes commented on #17
@nidhaloff I started working by hardcoding the options, but it occurred to me that you might wanna update things in the future. I was able to find options for "type", "split", "preprocess", "model", and "target" in the code to pull from, but there is nothing referencing any of the "read_data_options". Should these just be hardcoded?

[2020-09-30 13:17] nidhaloff commented on #17
@peter-shoes You mean default values? you are right. I provided default values for "split", "preprocess" etc.. but I didn't do that for read_data_options yet since it's a new feature that I implemented this week. The read_data_options are basically the arguments that will be given to the `read_csv` function of pandas. Check it out [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/p

[2020-09-30 18:04] nidhaloff opened #23 "provide a copy button for code examples in the readme/docs"
### Description

It would be nice if there is a copy button in the docs and readme examples to make it easier for users to try the examples and play with the code. This should be easy to implement, maybe using a sphinx library. The docs are in the docs folder in the repo, I will let this issue open for new comers ;)

[2020-10-01 04:22] peter-shoes commented on #17
@nidhaloff just an update! i've been working on this and i think i'll just do the one pull request when i've completed it. i'm taking strings from the readme in order to get these massive lists of options for "model_type" and "read_data_options". should be done by the weekend probably?

[2020-10-01 06:24] nidhaloff commented on #17
@peter-shoes Alright cool. Happy coding ;)

[2020-10-03 13:01] nidhaloff opened #24 "update igel init to ask user for input"
### Description

At the moment, the user can use `igel init <args>` to start with a draft/standard yaml file. It would be awesome if the user can create this on the fly, meaning the user can start by typing `igel init` and the script will ask the user for inputs.

Example:

`igel init
`
.
.
.
- `type of the problem you want to solve (classification): # here the user can type for example regression

[2020-10-03 20:31] krystianhub opened #26 ""indian-diabetes-example" is broken"
* igel version: 0.2.4
* Python version: 3.8.5
* Operating System: MacOS Catalina (version 10.15.7)

### Description

I have tried to run one of the examples (**indian-diabetes-example**) right after the installation.
Sadly, the program crashes because of the errors in **pandas** library (1.1.1).

### What I Did

[code]

[code]

[2020-10-03 20:44] nidhaloff commented on #26
@krystianhub Thanks for noticing this. I just fixed it. It was showing the error because I forgot to update the example after the last release.

[2020-10-03 20:44] #26 closed

[2020-10-04 09:18] dinhanhx commented on #19
Please link this with #29

[2020-10-04 09:47] #19 closed

[2020-10-04 17:36] #24 closed

[2020-10-05 06:48] iptizer commented on #22
Maybe just adding a very extensive example would be sufficient. In a small tryout yesterday we have not been able to get it running, as it is totally unclear how to specify things in the yaml.

i.e. dtype or usecols - As a map or a list or a comma seperated list...

[2020-10-05 12:01] nidhaloff commented on #22
@iptizer Sorry to hear that! I will definetly look this up and improve the readme/docs ASAP

[2020-10-05 17:17] evelynmitchell opened #32 "Help is illegible in jupyter due to color"
* igel version: don't know there's no --version
* Python version: 3.8.2
* Operating System: Ubuntu 20.04

### Description

Displayed the help, but any of the sections which used the lightest formatting were illegible.

I expected to be able to read the help.

### What I Did
While trying to read the help in a jupyter notebook with a white background (the default).
!igel --help

[code]
Suggested fix

[2020-10-05 17:34] nidhaloff commented on #32
@evelynmitchell Thanks for noticing this. I agree, I was already hesitating whether colorama was/is needed at this stage.

@dinhanhx: can you please undo the colorama implementation? I figure out it would be easier for you to do it since you implemented it

[2020-10-05 17:45] nidhaloff commented on #32
@evelynmitchell It's actually common that python package does not have the `package --version` option. I think this is a nodejs thing but I'm not sure, maybe this is common in other languages. In python, you can generally check the version by running `pip list `or `pip freeze`.

However, in igel, there is a __version__ dunder variable (which is common in python), so just as a hint, when you import

[2020-10-05 18:09] #22 closed

[2020-10-05 21:07] dinhanhx commented on #32
@nidhaloff Got it sir, i will remove anything related to colorama

[2020-10-05 21:20] nidhaloff commented on #32
@dinhanhx No problem. I already did it now. You can make another extra check if you want to.

@evelynmitchell I added an extra version command. You can type `igel version` in order to get the version directly in the terminal. Furthermore, you can type `igel info` to get extra meta data about the package.

[2020-10-05 21:20] #32 closed

[2020-10-06 00:58] peter-shoes commented on #17
@nidhaloff Howdy! i've completed the GUI with the exception of the options for "handle missing values" under preprocessing. Cant seem to find the other options besides the ones you've listed. Also, just making sure you know, the program will return a dictionary formatted the same way as the yaml file, and I'm not sure where to hand that off to.

[2020-10-06 02:04] evelynmitchell commented on #32
igel version: 0.2.7 looks good.
Thanks!

[2020-10-06 09:20] nidhaloff commented on #17
@peter-shoes Awesome! Thanks for the hard work. Can you show some screenshots or ideally gifs about it and which values can the user select in the UI?

Here is an overview about the missing values options:

- If “mean”, then replace missing values using the mean along each column. Can only be used with numeric data.

- If “median”, then replace missing values using the median along each column. Ca

[2020-10-06 09:29] dinhanhx commented on #17
@peter-shoes god work

[2020-10-06 17:42] genewitch opened #34 "does it always use the preprocessing, i.e. "scale:""
* igel version: pip
* Python version: 3.8.6
* Operating System: windows

### Description
I am just messing around, loaded a CSV with two columns, number (1-12,000,000) and prime (0 or 1)
the prime column was factual, a 1 means prime, a zero means composite.
I tried NeuralNetwork and CalibratedClassifier, but i think the preprocessing "scale:" messed it up.
that is, the predictions.csv output for i

[2020-10-06 17:53] Gabriel-Teston commented on #12
Can i make a shot for it? I'm planning on using pytorch and only dense feedforward networks with minimal customization at first.

[2020-10-06 17:58] genewitch commented on #34
i deleted the "scale:" section and boy howdy does it take a long time for the "fit" command now. It's been running about 10 times as long as it did before already. I guess i answered my own question.

[2020-10-06 18:42] nidhaloff commented on #34
Hi, I'm not sure I get it. Can you provide more details like for e.g are you using regression or classification and which options are you using?  do you mean that you get 2 values as output?
Can you provide your yaml configurations ?

If you scale the values, it's normal that it will run faster. Of course you can omit the scale option if you don't want to use it.

if you have 12,000,000 data point

[2020-10-06 18:58] nidhaloff commented on #12
@Gabriel-Teston thanks for joining. I like pytorch but I'm personally not for the idea of using pytorch in igel since more (boilerplate) code will be written and you will spend more time writing code. You can give it a shot sure (at the end of the day nothing will be broken), however, in my opinion some more user friendly framework like **keras**, skorch etc.. will work better for our use case.

[2020-10-06 19:51] nidhaloff opened #35 "provide a way to use reproducible results"
### Description

Users should have the flexibility to get/generate reproducible results. In practice, this happens through a seed, which can be set globally or locally in each function, where random parameters are generated.

[2020-10-06 21:09] nidhaloff opened #36 "Add docker support"
### Description

create a docker image so that people can just docker pull the igel container and therefore they can use igel without installing anything.

If someone wants to contribute and work on this, then feel free to create a docker folder in the repo and work on this feature there

[2020-10-06 21:29] nidhaloff opened #37 "provide support for other input format"
### Description

In the future, igel should support multiple dataset format other than csv. Maybe add support for excel, json and sql tables.

It would be great if users have the flexibility of providing their datasets in other formats and not only csv.

-------------------------------------------------------------------------------------------------------------------------------------------------

[2020-10-06 22:29] matt-ross16 commented on #36
I'll work on getting a docker image set up

[2020-10-07 01:31] genewitch commented on #34
it's pretty magical, actually. I got it working, and managed to get NeuralNetwork Classifier to do 0 false positives. I had to split the integers into decimal parts, 1000s, 100s, 10s, 1s, etc. It works fine now. I am closing, it was my misunderstanding of the inputs of the sklearn and some other options. I uploaded my scaffolding to my github under the "machinelearning" repo.

[2020-10-07 01:31] #34 closed

[2020-10-07 01:36] genewitch commented on #34
This is probably the most fun i've had programming (ironic) in several months, thanks!

nn.yaml

[code]

csv output from my scaffolding (in python):
[code]

[2020-10-07 06:40] nidhaloff commented on #36
@matt-ross16 great, thanks for joining ;)

[2020-10-07 06:41] nidhaloff commented on #34
Alright Cool!

[2020-10-07 08:49] ondics opened #38 "latest release?"
What is the latest release of this repo?

Please sync the releases with

https://pypi.org/project/igel/#history

Thanx.

[2020-10-07 08:49] ondics opened #39 "Latest release / Python Packages on PyPi"
What is the latest release of this repo?

The current release here on Github is 0.2.3: https://github.com/nidhaloff/igel/releases
The latest release on PyPi is 0.2.7: https://pypi.org/project/igel/#history

Please sync the releases.

Thanx.

[2020-10-07 08:53] ondics commented on #38
updated in another issue #39

[2020-10-07 08:53] #38 closed

[2020-10-07 15:06] dinhanhx commented on #39
It's the one on PyPi.

[2020-10-07 17:55] nidhaloff commented on #39
@ondics You can find all changes log (release history) in the pypi website[ here](https://pypi.org/project/igel/)

I update the history on github now. However, I'm not a fan of updating release versions manually on github, since I automated this and already synced with pypi. Therefore, check on pypi whenever you want to see the latest release & the release history

[2020-10-07 17:55] #39 closed

[2020-10-09 00:08] evelynmitchell opened #41 "Docs need different path to images"
https://igel.readthedocs.io/en/latest/_sources/readme.rst.txt includes a link to the assets/igel-help.gif, but that path is broken on readthedocs.

readme.rst is included as ../readme.rst in the sphinx build.
The gifs are in asses/igel-help.gif

The sphinx build needs to point to the asset directory, absolutely:

.. image:: /assets/igel-help.gif

I haven't made a patch, because I haven't tested th

[2020-10-09 19:12] nidhaloff commented on #17
@peter-shoes is everything ok?

[2020-10-09 20:07] nidhaloff commented on #41
@evelynmitchell Thanks for opening this. Yes you are right I checked it now, I don't have much time these days that's why I didn't notice this. I will try to check it out when I have more time. Feel free to work on solving this if you would like to, or maybe someone else can investigate this meanwhile.

[2020-10-10 00:12] dinhanhx commented on #37
For anyone who is interested in doing this, I suggest check out this https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

[2020-10-10 16:16] #13 closed

[2020-10-10 16:28] peter-shoes commented on #17
@nidhaloff everything is okay! pushing final version today and i'll take some screenshots as well. sorry for going dark! been a busy week!

[2020-10-10 22:15] peter-shoes commented on #17
@nidhaloff one final question: i have added functionality for selecting the actual file you want to use, because i thought that was what 'dataset:' meant. is this correct? also, for arguments under hyperparameter_search, should the gui take actual arguments there? other than cv, refit, etc.

[2020-10-11 08:40] nidhaloff commented on #17
@peter-shoes  Yes that is correct!

Ideally, the user should be able to provide the hyperparameter search arguments. However, you don't need to implement everything. If you have some functionality, we can make a draft release of our gui just to show users what it is capable of. We can always improve that in the future. You have done a great work, I think we should see that and make a release so th

[2020-10-11 19:50] peter-shoes commented on #17
@nidhaloff so i took out the hyperparameter search arguments, but it's still in a comment. I'm finally done! i'll do a PR as soon as i finish this message. images are below.

file select screen on startup:
![Screenshot from 2020-10-11 15-41-34](https://user-images.githubusercontent.com/47019176/95688522-ebb0b500-0bd8-11eb-98c4-a554bf1a7546.png)

initial menu screen:
![Screenshot from 2020-10-11 15

[2020-10-11 19:55] peter-shoes commented on #17
@nidhaloff additionally, once you accept the PR, would you label it "hacktoberfest-accepted"? i doubt i'll actually make my PR quota by the end of the month but it's worth a shot anyway. Additionally, i do intend to keep working on this because this version looks a little...rough.

[2020-10-12 09:20] iwantofun opened #45 "Clustering doesn't work."
* igel version:0.2.8
* Python version:3.7.3
* Operating System:MacOS

### Description

I am trying to use clustering model with KMeans, and got the error output below:

ERROR - Error while storing the fit description file: Object of type ndarray is not JSON serializable

after that, I found the content of model_results/description.json is incomplete.

Here is the details:

cmd:
<pre>
igel fit -dp

[2020-10-12 17:42] nidhaloff commented on #17
@peter-shoes Looks cool! sorry I couldn't reply yesterday, I'm very busy these days. The screenshots looks good, I will merge the PR now and check it out. I will also grant your wish and create a "hacktoberfest-accepted" label for your PR.

Thank you for your work. This is undoubtedly the most important PR I received until now ;), so you need to be proud of what you achieved. I hope you will keep

[2020-10-12 17:59] nidhaloff commented on #17
@peter-shoes I thought Tkinter comes with the standard library, now I'm getting important not found. Apparently, tkinter needs python-tk and not the normal version of python. I didn't know that --' maybe tkinter wasn't the best choice after all. what do you think? Maybe other people can join the discussion and give their opinion.

[2020-10-12 18:34] peter-shoes commented on #17
@nidhaloff yeah, I was worried about that when i first started work. However, according to the official documentation, linked below, Tk comes with most binary distributions of python 3, though I myself had to install it separately. This is the closest thing to GUI implementation in the standard library, as far as i can tell.

https://docs.python.org/3/faq/gui.html

[2020-10-12 18:50] nidhaloff commented on #17
@peter-shoes Tkinter can be installed by installing python3-tk, which is not quite straightforward for the users and also for the development. See, I'm working in a virtual environment and I couldn't manage to create a virtualenv and install tkinter in it even though I installed the python3-tk distribution.

Users who will install igel will have to also install this distribution where tkinter is s

[2020-10-12 18:57] nidhaloff commented on #17
@peter-shoes I managed to install the python distribution that comes with tkinter and tried to run the gui script. However, I got this error:

[code]

Did you got this to work on your machine? could you choose a csv file without a problem?

[2020-10-12 21:01] nidhaloff commented on #45
@iwantofun thanks for noticing this. Indeed numpy arrays are not JSON compatible that's what the error is saying. This is a bug that I will fix now and draft a new release.

It is also interesting that the data are read and no error was thrown since your data is a .txt and igel supports only csv (at least for now) and make use of the column names to determine which target you want to predict (sinc

[2020-10-13 03:25] iwantofun commented on #45
It works now, thanks.

[2020-10-13 08:34] #45 closed

[2020-10-13 20:26] peter-shoes commented on #17
@nidhaloff I actually had a dream about this the other night. This was a workaround I used to get the read_data_options and the available algorithms. Basically, the README is being parsed for those options, like it gets the options from the README. When I first started working on this I thought I was being clever, but later on i realized this was a pretty bad idea, because the readme can change at

[2020-10-13 20:29] peter-shoes commented on #17
@nidhaloff, as for the Tk problem, it would be pretty much impossible to code a GUI by hand without using another language or a website. Additionally, Tk code does not migrate well to other python based GUI packages. I think the best thing to do would be to include a small section in the README on how to install Tk, either with terminal examples or through conda or whatever windows people use.

[2020-10-13 20:30] nidhaloff commented on #17
@peter-shoes Okay, yeah that's not a good idea since the readme will definitely change and keep on changing. You can even remove the whole read_data_options part for now. It's not a priority. Can you fix this and push to the igel gui branch instead of master?

[2020-10-13 20:49] peter-shoes commented on #17
@nidhaloff yeah i'll get on this right away, again, my apologies

[2020-10-13 21:15] peter-shoes commented on #17
@nidhaloff there was no gui functionality branch outside of my fork, so i did a PR on the functionality branch, hope that's alright.

[2020-10-13 21:21] peter-shoes commented on #17
@nidhaloff pushed to gui functionality branch of my fork

[2020-10-14 19:03] nidhaloff commented on #17
@peter-shoes Thanks! I tried it now. I achieved to open it and choose a dataset. However, I noticed the window is not responsive and I couldn't click ok at the end to close the window and receive the dictionary. Is this not implemented yet or did I missed something?

[2020-10-14 19:06] peter-shoes commented on #17
@nidhaloff the main function returns the dictionary when the window is closed. It does not print the dictionary. Should it print?Should I add a button to close the window instead?

[2020-10-14 19:06] nidhaloff commented on #17
@peter-shoes Also FYI, I made some research and figure out that we can use the electron framework to build a desktop app that looks very good! with web languages (html, css, js). I thought it would be a great idea, so I made a repo for it and started the development. We can try to develop a desktop app with electron in parallel to this, since we talked that tkinter may not be the best choice. here

[2020-10-14 19:08] nidhaloff commented on #17
@peter-shoes Yes it would be great to click **OK** at the end when I'm done and the window will close and the dictionary will be returned.

[2020-10-14 19:17] nidhaloff commented on #36
@matt-ross16 Hi, is everything alright? do you have any updates? I'm just checking if you are still working on this

[2020-10-14 19:18] #35 closed

[2020-10-14 19:20] peter-shoes commented on #17
@nidhaloff just pushed the update, the button closes the window and the resulting dictionary is both printed to console and returned by the function. I find it strange that you would want to implement a new GUI based in another language, likely with its own set of requirements. I cannot help you with this, as I have not written in JS for many years now, but I wish you the best of luck.

[2020-10-14 19:28] nidhaloff commented on #17
@peter-shoes thanks! I still want to work on this of course. This tkinter GUI will be integrated in igel and not separate. Why do you find it strange that I want to implement a new GUI? We already noticed the problems of tkinter and hence I nice looking cross platform app is a good idea, right

[2020-10-14 19:39] peter-shoes commented on #17
@nidhaloff from my experience, the more languages and package dependencies you add, the more difficult a piece of software becomes to maintain. That said, I do think a separate application might be useful if you can find the right person or people to contribute.

[2020-10-14 19:48] nidhaloff commented on #17
@peter-shoes python is poor when it comes to GUI apps as you ve seen. Developing a GUI app in python is not a great idea. A basic gui in tkinter is OK, but as you can see the configurations are harder and the support is poor. Finding contributors who know web technologies is way easier than finding people who know how to program a gui in python ( since it's not a popular use case for python).

Sur

[2020-10-14 19:51] peter-shoes commented on #17
@nidhaloff that's reasonable. I will continue to maintain this code as long as it is necessary, just shoot me a message whenever something breaks or needs updating.

[2020-10-14 19:56] nidhaloff commented on #17
@peter-shoes Thanks. There is already a lot that can be improved :D for instance, the window is not responsive. If I make it smaller, I wouldn't be able to see the other UI elements.

[2020-10-14 20:07] peter-shoes commented on #17
@nidhaloff try it now, this is pretty good, but it's admittedly not perfect. It would be tough to do really beautiful responsiveness without massive restructuring.

[2020-10-14 20:51] nidhaloff commented on #17
@peter-shoes I already tried. It's better than the other version but still not quite responsive. Also on the left, there is much space that it's not used and I couldn't select an algorithm to use.

-----------------------

Proposed solution for now:

- Can you remove the read_data_options in order to make it simple?
- You can also remove the cv options
- It is sufficient to provide a way to set da

[2020-10-14 20:56] peter-shoes commented on #17
@nidhaloff yeah the space on the left is so you can add as many read_data_options as you want, but I guess if we're getting rid of that I can just shift everything over. As for the rest of the stuff I can just comment it all out. Do you want to remove hyperparameter search as well?

[2020-10-14 21:04] nidhaloff commented on #17
@peter-shoes Thanks. hmm depending on how the gui will look like. You can decide that. You can pretend you are a user and evaluate the GUI yourself 👍🏼

If you remove read_data_options and use the space on the left, it would be really great!

[2020-10-15 14:27] matt-ross16 commented on #36
Yes, apologies. I'm getting back on this horse right now. Life got in the way a bit. Hopefully I can solve this issue quick, and get this running

[2020-10-15 14:40] matt-ross16 commented on #36
Ok, I see where I left of. In the process of installing, I was following your CONTRIBUTING doc, and ran into issues at this step:

![image](https://user-images.githubusercontent.com/37879416/96144709-77288f80-0ed2-11eb-9250-aacf5cd44b7c.png)

I have my virtual environment set up, but when I attempt to setup igel, I get this error:

![image](https://user-images.githubusercontent.com/37879416/961450

[2020-10-15 14:54] nidhaloff commented on #36
@matt-ross16 Thanks for the update. I assume you have python < 3.6 that's why it didn't understand the f string syntax. Did you created a virtualenv with python>=3.6 ? if not then you can use this command `python3.8 -m venv env` instead of `virtualenv igel` .

Then activate it using `source env/bin/activate` (this can be different on windows but you can just google it).

[2020-10-15 14:56] matt-ross16 commented on #36
I was wondering if it was due to my version of Python! Thanks for the quick reply :) I'll try this out

[2020-10-15 22:38] nidhaloff commented on #36
@matt-ross16 someone just made a pull request now for this issue. I actually thought it was you! You can work further on improving this, just go ahead and check what it new in the repo ;)

[2020-10-15 22:38] #36 closed

[2020-10-15 22:46] matt-ross16 commented on #36
No worries! I'll look into the new PR and try to figure out what I was missing. Thanks for your help regardless! :)

[2020-10-17 15:42] nidhaloff opened #49 "Let's discuss how are you using igel and which updates/features would you rather see in the future"
### Description

Hi, I'm opening this to have a closer discussion with people, who are using igel. Let's dicuss together which advantages/disadvantages igel have from your point of vue and more importantly, which things would you change and which features would you want to see implemented in the future.

[2020-10-19 03:28] 935462955 opened #50 "Is there any function to support me to export Python code after igel training?"

[2020-10-19 17:29] nidhaloff commented on #50
Hi @935462955 No there is no function for this at the moment. Can you provide why would this be useful for you?

[2020-10-20 01:28] 935462955 commented on #50
Thanks for your reply! I am a novice machine learning, but I want to apply the model that trained on igxl to my project. I think that maybe I can learn machine learning knowledge through the exported code and save development time.

[2020-10-20 18:33] nidhaloff commented on #50
@935462955 You can certainly apply the trained model with igel to your project! The model will be saved for you in the model_results folder after training/fitting. You can load it with python and use it as you wish.

Unfortunately, the code will not be shipped with it since everything is created **dynamically in the background**. Furthermore, learning machine learning with igel is probably a bad i

[2020-10-20 18:33] #50 closed

[2020-10-30 22:37] #37 closed

[2020-11-01 00:38] dinhanhx commented on #49
Feature: there is an option to export diagrams from [sklearn visualizations](https://scikit-learn.org/stable/visualizations.html)

[2020-11-01 00:43] dinhanhx commented on #49
There is much more models in sklearn, I think there should be an issue or a live website to keep track of implementing progress.

[2020-11-01 10:37] nidhaloff commented on #49
@dinhanhx The visualization feature sounds good. What do you mean with your second comment?

[2020-11-01 11:42] dinhanhx commented on #49
@nidhaloff For my second comment, I have perceived that igel has supported a lot of models [the list](https://github.com/nidhaloff/igel#models).  However, there are more models of sklearn which haven't been implemented in such as [IsotonicRegression](https://scikit-learn.org/stable/modules/generated/sklearn.isotonic.IsotonicRegression.html#sklearn.isotonic.IsotonicRegression). Therefore, I think w

[2020-11-01 12:09] dinhanhx commented on #12
(I'm back from a Deep learning course with Keras)
Suggestion: there is an option to choose between using sklearn and keras but [requirements.txt](https://github.com/nidhaloff/igel/blob/master/requirements.txt) stays the same due to the fact that keras is very big.
- `igel choose-library keras` should __check__ if there is keras or not. If there is not, download and setup keras. After that, make ig

[2020-11-01 12:11] nidhaloff commented on #49
@dinhanhx I see what you mean. Actually, I opened this issue to receive people's feedback. I wanted a user to request a feature so that I can take it into consideration. I know some models like IsotonicRegression have not been added but are there users out there who will use the IsotonicRegression model if it was implemented? this is the real question here.

Therefore, I opened this issue not to r

[2020-11-01 12:15] dinhanhx commented on #49
@nidhaloff I got your point now. I should wait for other people too.

[2020-11-09 04:00] peter-shoes commented on #17
@nidhaloff howdy! just did the changes in like 20 minutes, sorry i've been away for so long (kinda crazy in america right now)! So I commented out the features we talked about, and now it looks a lot more cut-and-dry, just a very very simple interface. I'm thinking I might clean it up from here? maybe just make it look like a proper UI. Also, it still returns the same dictionary, just with None va

[2020-12-04 09:58] Anenizer commented on #49
Are there any plans in to interface igel in Jupyter to it be used in a Jupyter Notebook?
I think most of the work would be the possibility to use it as a Library, or what do you think?

[2020-12-04 10:06] dinhanhx commented on #49
@Anenizer

According to igel [README.rst Quick Start](https://github.com/nidhaloff/igel/#quick-start), the last bullet,
![image](https://user-images.githubusercontent.com/38489776/101150555-faed3580-3652-11eb-8e5d-856efdabe864.png)

I think you can treat it as library

[2020-12-14 10:18] Anenizer opened #54 "Can't get it working like in Quick-Start"
* igel version: 0.3.1 (latest pip)
* Python version: 3.8.5
* Operating System: docker on top of Ubuntu 16.04.6 LTS (4.4.0)

### Description

Very new to ML, don't know what and how to do something with the Igel.
I followed the Quick-Start Demo to get an Idea.

* Installed Igel
* Downloaded the archive.zip from https://www.kaggle.com/uciml/pima-indians-diabetes-database and put diabetes.csv in work

[2020-12-14 10:40] red-eyed-tree-frog commented on #54
If I infer correctly you must first use some heuristic and categorise your data into sick / not sick. Maybe add a column called sick where 0 = not sick and 1 = sick? Your heuristic could be age > x and blood pressure > y then sick as a simplified example.

[2020-12-14 10:48] Anenizer commented on #54
Thanks for your help. If this will give me a working example it would be fine! :-)
I know how to add a column `sick` to the `diabetes.csv` but I have no Idea where to put the heuristic stuff. ;-)

Can you provide a step by step guide on how to do this?

[2020-12-14 16:07] red-eyed-tree-frog commented on #54
Actually I think the column you are looking for is 'outcome' not 'sick'.

[2020-12-14 17:56] nidhaloff commented on #54
@Anenizer Hi, the data that I used in the docs can be found in this repo. Please go to the examples folder and then check the datasets under the data folder. Or simply click [here](https://github.com/nidhaloff/igel/tree/master/examples/data/indian-diabetes).

Now to come to your issue. Notice that there is multiple versions of the famous indian-diabetes dataset. If you visit kaggel, you will find

[2020-12-14 18:05] #54 closed

[2020-12-15 13:32] nidhaloff commented on #54
@Anenizer does this answer your question? if not feel free to re-open the issue or create a new one if you have other questions

[2020-12-17 07:04] Anenizer commented on #54
Yes, I now have a working example, this was my goal. Thank you very much!

[2021-04-20 19:26] #17 closed

[2021-04-20 19:26] #9 closed

[2021-04-20 19:26] #8 closed

[2021-04-20 19:27] #12 closed

[2021-05-26 16:07] #23 closed

[2021-05-27 05:43] #41 closed

[2021-05-27 11:33] nidhaloff opened #59 "Inviting maintainers/contributors to the project"
Hello everyone,

First of all, I want to take a moment to thank all contributors and people who supported this project in any way ;) you are awesome!

Due to my actual schedule, I'm very busy and I will not find much time to work on my open-source projects in the meantime.
I would like this project to continue improving, so I would be accepting maintainer(s) that would help move this project forwa

[2021-06-07 10:38] mando7 opened #62 "Rest Api"
A Rest Api to expose the pre-processed models would be useful.
[code]

[2021-06-07 16:21] nidhaloff commented on #62
@mando7 Great idea!
pre-processed models? I guess you mean the pre-trained models

[2021-06-09 10:24] KersyTom commented on #49
i think igel can accept other  formatted data like a  table  from hive which contain  features and target,we can just write down a table name and choose some columns,so then  train a model conveniently

[2021-06-10 01:54] KersyTom commented on #49
@nidhaloff  In order to ensure customer privacy, sometimes downloading data is not allowed, or even viewing the data,but i know  each column represent .My problem is How can I use sensitive data normally?

[2021-06-10 18:19] nidhaloff commented on #49
@KersyTom I see. What do you mean by how can you use sensitive data normally? Igel does not store any data locally nor send information about your data to external sources. Your data will be used locally just by you. does that answer your question?

[2021-06-13 10:39] nidhaloff opened #63 "re-write the cli using click (or maybe typer?)"
### Description

I'm the creator and only maintainer of the project at the moment. I'm working on adding new features and thus I would like to let this issue open for newcomers who want to contribute to the project.

Basically, I wrote the cli using[ argparse ](https://docs.python.org/3/library/argparse.html) since it is part of the standard language already. However, I'm starting to rethink this

[2021-06-13 12:28] rmallof commented on #63
Hi. Adding my 2 cents: maybe https://github.com/google/python-fire can help speed up the process  :)

[2021-06-19 08:14] nidhaloff commented on #62
@mando7 Check out the new release v0.4.0
igel now supports serving trained models using fastapi and uvicorn

[2021-06-19 08:14] #62 closed

[2021-06-20 16:37] RackReaver commented on #63
I use [docopt](http://docopt.org/) for most of my projects now as click is usually overkill for what I need.

Based on what I see I think click is probably going to be your best option for your project as it has great modularity.

[2021-06-21 11:07] nidhaloff commented on #63
@rmallof @RackReaver  I'm not familiar with the two packages but thanks for the suggestion.

Yes I think click is a good choice for igel. Maybe typer would be even better but I'm not sure. I must check it out but it is also based on click and has similar syntax so that's the advantage

[2021-06-21 17:02] nidhaloff commented on #63
@RackReaver At the moment there are no tests for the cli. I implemented the first simple version using argparse, which had limitations and this is exactly one of the reasons why I want to switch to click.

If you want to give it a try, I would happily review and eventually update your PR. You don't have to be familiar with ML, the cli code has nothing to do with ML, it's just python.

[2021-06-30 19:48] shubham3174 commented on #63
Hi @nidhaloff, I am new to open source and would like to start working on it. I would try to replace argparse with click in cli.py

[2021-07-03 09:39] nidhaloff commented on #49
discussion moved to https://github.com/nidhaloff/igel/discussions/71

[2021-07-03 09:39] #49 closed

[2021-07-19 13:34] mando7 opened #72 "Export ONNX"
Thank you for this excellent work.
I don't want to be a killjoy, but an export option would be nice.

``` igel export ```

Can we integrate this library into the project:
http://onnx.ai/sklearn-onnx/index.html

[2021-07-19 14:09] mando7 opened #73 "igel serve, example call and result in igel documentation."
Can we have an example of REST API calls in the documentation?
Examples with CURL, HTTPie or another client and the results would be better for newbies.
Thanks again for your good work.

[2021-08-18 01:40] akshaynarisetti commented on #63
@nidhaloff Could you please assign the issue under me, I have begun working on rewriting the code.

[2021-08-19 13:45] kuspia commented on #63
I would try to replace argparse with click in cli.py

[2021-08-20 12:33] kuspia commented on #63
@nidhaloff can u please share what were the issues you faced with argparse and why we need to rewrite it in click maybe I can fix that in argparse itself.

[2021-08-20 13:48] nidhaloff commented on #63
@akshaynarisetti I don't have to assign you the issue. Just work on it and make a PR. Many people told me in the past that they started working on it, but I still did not receive any PR from them, so I will not assign the issue to anyone. Just make a PR when you are done.

@kuspia there are no issues with argparse. Click is just convenient to use, the code would be cleaner. I also like the click g

[2021-08-21 17:14] GouravWadhwa opened #75 "Contributing Guide"
* igel version:0.4.0
* Python version:3.8
* Operating System:MacOS

### Description

In the Contributing Guide it is written to run poetry run tests which might be wrong and should be changed to poetry run pytest. Further running poetry run pytest also results in error even for the current code

<img width="1439" alt="Screenshot 2021-08-21 at 10 43 13 PM" src="https://user-images.githubusercontent

[2021-08-21 17:57] GouravWadhwa commented on #75
This might be happening because model results are being saved at ./igel/model_results whereas in assert command it trying to check whether the results are stored at ./igel/tests/test_igel/model_results
I think this can be solved by changing the path in constants file.

[2021-08-22 06:26] Aravind-11 commented on #59
Hey, I'm new to open source and would like to contribute.

[2021-08-22 09:15] nidhaloff commented on #75
Hi, the right command for running test is "make test". I will fix this in
the docs.

On Sat, 21 Aug 2021 at 19:58, GouravWadhwa ***@***.***> wrote:

[2021-08-22 09:30] nidhaloff opened #77 "Add CNN support"
### Description

We want igel to support CNNs. @Prasanna28Devadiga will work on this ;)

My suggestion would be just to write CNN in the algorithm field in order to use a CNN model. Here is an example to illustrate what I mean:

[code]

Anyone is free to join and share ideas in the comments or even better [here is a separate discussion for this issue](https://github.com/nidhaloff/igel/discussions/

[2021-08-22 09:35] nidhaloff opened #78 "Add RNN/LSTM support"
### Description

We want to add support for RNNs. I will let this issue open for people who want to contribute to this project.
My suggestion would be just to write RNN (or any other RNN-like model) in the algorithm field in order to use an RNN model. Here is an example to illustrate what I mean:

[code]

**If you are willing to work on this, please just start and don't wait for my approval.**
Any

[2021-08-22 09:42] #75 closed

[2021-08-22 14:10] GouravWadhwa commented on #63
Hi @nidhaloff, I have wrote something for command line arguments using click. I am still not sure how to integrate it and would really appreciate some suggestions. You can access the code from here https://github.com/GouravWadhwa/igel/blob/master/igel/click_cli.py.

[2021-08-24 14:34] pragyasrivastava0805 commented on #78
@nidhaloff ,I am very new to open source,I want to start working on this.Could you please walk me through the process

[2021-08-24 16:12] nidhaloff commented on #78
@pragyasrivastava0805 did you read the docs? https://igel.readthedocs.io/en/latest/contributing.html or https://github.com/nidhaloff/igel/blob/master/CONTRIBUTING.rst

also, there is a discussion for this issue here: https://github.com/nidhaloff/igel/discussions/80

[2021-08-27 08:32] anjali-rgpt opened #92 "Add K-Medoids Support"
* igel version: 0.3.1
* Python version: 3.6.9
* Operating System: Ubuntu 18.04 LTS running as a Linux Subsystem on WSL2

### Description
Adding support for K-Medoids Clustering from the sklearn_extra library.
This clustering method would be useful for median-based distance metrics in clustering, because it reduces the impact of outliers on finding new central points, and calculates dissimilarities

[2021-08-29 17:57] #92 closed

[2021-08-29 18:18] anjali-rgpt opened #97 "ImportError exception handling routine cannot import utils"
* igel version: 0.3.1
* Python version: 3.6.9
* Operating System: Ubuntu 18.04 LTS running as a Linux Subsystem on WSL2

### Description
While running make test command after making changes to the code for a different issue, the exception handler raised an error when I incorrectly specified the name of a module to import. The error message said that the utils module was not available, while it was

[2021-08-30 10:54] #97 closed

[2021-08-30 19:32] anjali-rgpt opened #99 "Add K-Medians support"
Proposed feature:

K-Medians is different from K-Medoids, because it primarily uses Manhattan distance and unlike K-Means, it calculates the median of the cluster to form the centroid, thus making it more robust to noise and outliers.
Additionally, while K-Medoids requires that cluster centers are actual samples, K-Medians (like K-Means) can create new data points as centers to minimize the total

[2021-08-30 19:36] GouravWadhwa commented on #78
Hi @nidhaloff, I have written run implementation for for RNN in pytorch. Please let me know if there is some dataset with which I can test my algorithm.
I have implemented user defined rnn's which can be used for classification.

[2021-08-31 08:42] anjali-rgpt commented on #99
@nidhaloff This is another enhancement / contribution which I have resolved with a PR

[2021-08-31 15:32] #99 closed

[2021-09-11 19:22] #77 closed

[2021-09-11 19:22] #78 closed

[2021-09-11 19:30] nidhaloff opened #102 "Add auto ML support"
### Description

We want to add support for auto ML. My suggestion is to use autokeras. I'm letting this open for newcomers who want to contribute to this project.

The parameters of the model need to be read from a yaml file (check utils.py in igel, there is a helper function to read a yaml or json file). These parameters will be used to construct and train a model. The results should be then sav

[2021-09-12 07:55] dhruvshah0803 commented on #102
I am working on this issue

[2021-09-17 22:45] nidhaloff commented on #102
I added first support for ImageClassification. Check this PR https://github.com/nidhaloff/igel/pull/103

@dhruvshah0803 If you are still working on this, please check my updates.

[2021-10-07 12:33] nidhaloff opened #104 "Suggestions for a better and evtl faster logging"
### Description

Hi, I'm creating this issue to improve logging by hearing new ideas/suggestions and to help new people contribute to igel and participate in [Hacktoberfest](https://hacktoberfest.digitalocean.com/).

Currently, igel just uses the python logging module. Besides writing more logs, we want to provide a good way of organizing the logs for a better debugging and user experience. Moreov

[2021-12-07 18:52] #104 closed

[2022-01-01 02:17] Zachvice commented on #73
I'm new to this project, but I'd like to tackle this issue

[2022-01-01 15:22] nidhaloff commented on #73
@Zachvice Thanks for joining. Sure go ahead and make a PR when it's ready for review ;)

[2022-01-01 23:04] Zachvice commented on #73
@nidhaloff After doing some research, it looks like FastAPI requires JSON format for post requests by default, if we were to do a curl post with the csv file, it fails because it would contain '\n' characters.

As a side note: using something that parses text to json such as json.loads(csv_file) works, but would plain text/bytes be better to be sent in your opinion, since the files used will most

[2022-01-06 18:56] #72 closed

[2022-01-12 08:01] 0sparsh2 opened #110 "CatBoost Classification and Regression feature"
* igel version: 1.0.0
* Python version: 3.10
* Operating System: MacOS

### Description

I tried to add the CatBoost Regression and Classification Models in addition to the other models imported from sklearn library. It is my first pull request to forgive me if any mistakes were created.

The pull request has been created for the CatBoost algorithm which includes the installation as well.

[2022-01-24 17:22] callmekofi commented on #59
hello, i would like to contribute

[2022-09-25 08:01] Sambhav250703 commented on #59
Hello @nidhaloff is this issue still open?
If yes can I contribute in this issue?

[2022-09-26 07:42] Haricharan0310 commented on #59
Hey! @nidhaloff I'm familiar with python, I would like to contribute. Could you please guide me on this?

[2022-11-23 10:38] magdapoppins commented on #59
Hi @nidhaloff! I'd also be happy to contribute if any issues come up!